.btn-otp{
    background-color: transparent;
    margin-top: 2px;
    border-radius: 10px;
    padding: 5px;
    border: none;
}

.error-msg{
    color: rgb(241, 74, 74);
    font-size: 14px;
}

.profile-avatar{
    border-radius: 110px;
}

.customer__form-wrap{
    border: 2px solid #45f882;
}

.nav-profile-img{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.nav-profile-link{
    min-width: 70px;
    padding: 10px;
}

.main--home{
    overflow: hidden;
}